<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- 

  <ion-app> es el contenedor principal de tu aplicación Ionic. Ayuda a establecer la estructura base para la navegación y otros componentes de la aplicación.
  Dentro de este contenedor es donde se definen las rutas y la estructura de la interfaz de usuario.
  <ion-router-outlet> es un componente de Ionic que se utiliza para mostrar el contenido basado en la navegación de rutas.
  El router-outlet actúa como un punto de anclaje donde se renderizan las vistas cuando se navega a diferentes rutas en la aplicación.
  Las rutas y vistas (páginas) de la aplicación se gestionan mediante el enrutador de Angular, que renderiza los componentes correspondientes cuando el usuario navega a diferentes URLs. -->
