<app-header></app-header>
<ion-content>

  <!-- <ion-item class="buscador"> -->
  <ion-searchbar
    placeholder="BUSCAR ICAO"
    (ionChange)="buscar($event)"
    class="buscador"
  ></ion-searchbar>
  <!-- </ion-item> -->

  <ion-list *ngFor="let aeropuerto of aeropuertos?.data">

    <div class="contenedor-clima">

      <!-- boton de favoritos -->
      <ion-button class="favorite-button-container" fill="clear" (click)="addToFavorites(aeropuerto)" [ngClass]="{'favorite': isFavorite[aeropuerto.icao]}">
        <ion-icon [name]="isFavorite[aeropuerto.icao] ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>

      <div class="aeropuerto">
        <h1>{{ aeropuerto.station.name }}</h1>
        <h2>{{ aeropuerto.icao }} - {{ aeropuerto.station.location }}</h2>
      </div>
      <div class="datos">
        <span>Temperatura: {{ aeropuerto.temperature.celsius }}°</span>
        <span>Nubes: {{ aeropuerto.clouds[0].text }}</span>
        <span
          >Viento: {{ aeropuerto.wind.degrees }}°/{{
            aeropuerto.wind.speed_kts
          }}Kts</span
        >
        <span>Visibilidad: {{ aeropuerto.visibility.meters }} Metros</span>
        <span>Presion: {{ aeropuerto.barometer.hpa }}hPa</span>
      </div>
    </div>
  </ion-list>

  <ion-button (click)="obtenerUbicacion()">Obtener Ubicación</ion-button>
  
  <!-- <div *ngIf="latitud !== null && longitud !== null">
    <p>Latitud: {{ latitud }}</p>
    <p>Longitud: {{ longitud }}</p>
  </div>

  <div *ngIf="!latitud && !longitud">
    <p>Ubicación no disponible.</p>
  </div> -->

  <div *ngIf="pais && provincia">
    <p>País: {{ pais }}</p>
    <p>Provincia: {{ provincia }}</p>
  </div>

  <div *ngIf="!pais && !provincia">
    <p>Ubicación no disponible.</p>
  </div>

  <!-- <div>
    <h3>Aeropuerto más cercano:</h3>
    <p *ngIf="aeropuertoCercano">Nombre: {{ aeropuertoCercano.station.name }}</p>
    <p *ngIf="aeropuertoCercano">ICAO: {{ aeropuertoCercano.icao }}</p>
  </div> -->

  <div *ngIf="aeropuertoCercano; else noAeropuertoCercano">
    <h2>Aeropuerto más cercano</h2>
    <p>Nombre: {{ aeropuertoCercano.station.name }}</p>
    <p>ICAO: {{ aeropuertoCercano.icao }}</p>
    <p>Latitud: {{ aeropuertoCercano.lat }}</p>
    <p>Longitud: {{ aeropuertoCercano.lon }}</p>
</div>

<ng-template #noAeropuertoCercano>
    <h2>No se encontró un aeropuerto cercano</h2>
</ng-template>
</ion-content>
<app-footer></app-footer>
