<app-header></app-header>
<ion-content>

  <!-- <ion-item class="buscador"> -->
  <ion-searchbar
    placeholder="BUSCAR ICAO"
    (ionChange)="buscar($event)"
    class="buscador"
  ></ion-searchbar>
  <!-- </ion-item> -->

  <ion-list *ngFor="let aeropuerto of aeropuertos?.data">

    <div class="contenedor-clima">

      <!-- boton de favoritos -->
      <ion-button class="favorite-button-container" fill="clear" (click)="addToFavorites(aeropuerto)" [ngClass]="{'favorite': isFavorite[aeropuerto.icao]}">
        <ion-icon [name]="isFavorite[aeropuerto.icao] ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>

      <div class="aeropuerto">
        <h1>{{ aeropuerto.station.name }}</h1>
        <h2>{{ aeropuerto.icao }} - {{ aeropuerto.station.location }}</h2>
      </div>
      <div class="datos">
        <span>Temperatura: {{ aeropuerto.temperature.celsius }}°</span>
        <span>Nubes: {{ aeropuerto.clouds[0].text }}</span>
        <span
          >Viento: {{ aeropuerto.wind.degrees }}°/{{
            aeropuerto.wind.speed_kts
          }}Kts</span
        >
        <span>Visibilidad: {{ aeropuerto.visibility.meters }} Metros</span>
        <span>Presion: {{ aeropuerto.barometer.hpa }}hPa</span>
      </div>
    </div>
  </ion-list>

</ion-content>
<app-footer></app-footer>
